h1{
  text-align: center;
  color: red;
  font-family:'Times New Roman', Times, serif;
}

#input-form{
  display: flex;
  flex-direction: row;
}

#head{
  padding: 2vh 10vw;
  background-color: pink;
}

#task-input{
  padding: 0.5rem 1rem;
  width: 70%;
  border: 1px solid white;
}

#task-input:focus{
  outline: none;
}

#add-task{
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 30%;
  background-color: #4267B2;
  color: white;
  border: 1px solid #4267B2;
  border-radius: 0.1rem;
  margin: 0rem 0.1rem;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#todo-list{
  padding: 0vh 10vw;
}

li{
  background-color: white;
  padding: 0.5rem 1rem;
  display: flex;
  border: 1px solid white;
}

li:hover{
  background-color: pink;
}

#delete-task{
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #4267B2;
  color: white;
  border: 1px solid #4267B2;
  border-radius: 0.1rem;
  margin: 0rem 0.1rem;
}

.editable{
  width: 100%;
  margin: 0rem 0.1rem;
  padding: 0.5rem 1rem;
}

.Completed{
  margin: 0.7rem 0.1em;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#toggle{
  background-color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}

li:nth-child(odd){
  background-color: lightgrey;
}

li:nth-child(odd):hover{
  background-color: pink;
}