$bluecolor: #007bff;
$whitecolor: white;
$lightgreycolor: lightgrey;

*{
  font-family:'Times New Roman', Times, serif
}

hr{
  border: 1px solid black;
}

body{
  margin: 1vh 1vw;
}

h1{
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.input-form, #todo-list{
  margin: 2% 3%;
  background-color: pink;
  padding: 2% 2%;
  border-radius: 0.5rem;
}

button {
  margin: 1% 1%;
  padding: 1% 3%;
  border-radius: 0.5rem;
  background-color: $bluecolor;
  cursor: pointer;
  color: $whitecolor;
  border-color: $bluecolor;
}

legend{
  font-weight:bold;
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.task-input{
  border-radius: 0.2rem;
  border-color: $lightgreycolor;
  padding: 1% 3%;
  margin: 1% 1%;
  width: 40%;
}

.task-input:focus{
  border-color: $lightgreycolor;
}

.button-line{
  display: flex;
  justify-content: center;
  margin: 1% 0 0 0;
}

ul{
  list-style-type: none;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#todo-list{
  background-color: $whitecolor;
  border: 0.2rem solid $lightgreycolor;
  border-radius: 0.5rem;
}

li{
  margin: 1% 2%;
  border-radius: 0.5rem;
  border: 0.2rem solid $lightgreycolor;
}

.editable{
  padding: 1% 2%;
  margin: 1% 1%;
  width: 100%;
  cursor: pointer;
}

.editable-subtask{
  padding: 1% 2%;
  margin: 1% 1%;
  width: 100%;
}

.delete-task{
  cursor: pointer;
  color: red;
  margin: 2% 2%;
}

.Completed{
  margin: 3% 1%;
}

.fav-task{
  cursor: pointer;
  margin: 2% 0;
}

.one-task{
  display: flex;
}